.footer-wrapper {
  background: #0b0b0b;
  color: white;
  width: 100%;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

/* Footer */
.footer-container {
  padding: 60px 8%;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  gap: 50px;
  padding-bottom: 50px;
}

.footer-column h2,
.footer-column h3 {
  margin-bottom: 20px;
  color: #00cc66;
}

.footer-logo {
  font-size: 32px;
  font-weight: bold;
}

.footer-column p {
  color: #bdbdbd;
  line-height: 1.5;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 15px;
  color: #bdbdbd;
  cursor: pointer;
  transition: 0.3s;
}

.footer-column ul li:hover {
  color: #b6ff4d;
}

/* Bottom Footer */
.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  padding: 20px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  width: 100%;
}

/* Left Text */
.first-text-con {
  justify-self: start;
  text-align: left;
}

/* Middle Text */
.footer-middle-text {
  justify-self: center;
  text-align: center;
  font-size: 11px;
  color: #ffffff;
  margin-left: 10px;
}

/* Right Icons */
.social-icons {
  justify-self: end;
  display: flex;
  gap: 10px;
  align-items: center;
}

/* Bottom Text */
.footer-bottom p {
  color: #999;
  font-size: 11px;
  margin: 0;
}

/* Footer Links */
.footer-links {
  display: flex;
  gap: 10px;
  font-size: 10px;
  color: #ffffff;
  margin-top: 5px;
  margin-left: 30px;
}

.footer-links span {
  cursor: pointer;
}

/* Social Icons */
.each-icon {
  width: 22px;
  height: 22px;
  cursor: pointer;
}
.first-bottom-text{
  font-size: 28px;
}
/* Tablet */
@media screen and (max-width: 992px) {
  .footer-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* Mobile */
@media screen and (max-width: 768px) {
  .footer-container {
    padding: 40px 5%;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 35px;
  }

  .footer-bottom {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 20px;
  }

  .first-text-con,
  .footer-middle-text,
  .social-icons {
    justify-self: center;
    text-align: center;
  }

  .footer-links {
    justify-content: center;
    flex-wrap: wrap;
  }

  .social-icons {
    gap: 12px;
  }

  .each-icon {
    width: 20px;
    height: 20px;
  }
}

/* Small Mobile */
@media screen and (max-width: 480px) {
  .footer-logo {
    font-size: 24px;
  }

  .footer-column h2,
  .footer-column h3 {
    font-size: 18px;
  }

  .footer-column p,
  .footer-column ul li {
    font-size: 12px;
  }

  .footer-bottom p,
  .footer-middle-text,
  .footer-links {
    font-size: 9px;
  }

  .each-icon {
    width: 18px;
    height: 18px;
  }
}